.container_header {
    position: relative;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    background-color: rgb(110, 30, 148);
    height: 5rem;
    max-width: 100vw;
    z-index: 1;
    color: #fff;
}

.container_header_menu {
    position: absolute;

}

.container_header_title {
    position: absolute;
    left: -3rem;
    width: 100%;
}

.container_header_avatar {
    position: absolute;
    right: 2rem;
    display: flex;
    align-items: center;
}

.container_header_avatar strong {
    font-size: 0.7rem;
    margin-left: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}