* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* -webkit-font-smoothing: antialiased; */
    /* -moz-osx-font-smoothing: grayscale; */
    font-size: 1.6rem;
    ;
}

#root {
    min-height: 100vh;
    background-image: url('https://i.pinimg.com/originals/3f/8c/72/3f8c72eba5a634d1d15e2f27f2fa6e64.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}